<div class="div_contenedor">
  <div class="col-1 p-4">
    <button class="btn btn-primary btn-block" routerLinkActive="active" routerLink="/">Volver</button>
</div>
    <div class="row div_centrado">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 No Encontrado</h2>
                <div class="error-details">
                    Lo sentimos, ha ocurrido un error, ¡la página solicitada no se encuentra!
                </div>
            </div>
        </div>
    </div>
</div>
